.title-root {
  color: var(--text-primary-dark);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.xl {
  font-size: var(--hd-xl);
}

.lg {
  font-size: var(--hd-lg);
}

.md {
  font-size: var(--hd-md);
}

.sm {
  font-size: var(--hd-sm);
}

.xs {
  font-size: var(--hd-xs);
}
